.logotext
{
    font-family: Arial bold; font-size: 16px; font-weight: bolder;
    text-shadow: rgb(110,110,110) 3px 3px 5px;
    color: mediumvioletred;

}
.logotext1
{
    font-family: Arial bold; font-size: 9px; font-weight: bold;
    text-shadow: rgb(110,110,110) 3px 3px 5px;
    color: mediumvioletred;

}
#inout
{
    background: transparent;
    border: 4px mediumvioletred;
    border-radius: 25px;
    color: white;
    /*top: 20px;*/
    /*position: absolute;*/
    padding: 15px 15px;
}
#bgg:hover
{
    background: mediumvioletred;
}

section
{

    width: 100%;
    /*height: 900px;*/
    /*background: url("../storage/images/bglog.jpg")center center no-repeat;*/
    /*position: absolute;*/
    /*top: 150px;*/

}
.sec
{
    background-size: cover;
    height: 900px;
    width: 100%;


}

.loginBox
{
    /*position: absolute;*/
    /*top: 700px;*/
    /*left: 50%;*/
    transform: translate(-50%,-50%);
    /*width: 700px;*/
    height: 500px;
    padding: 80px 40px;

    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.user
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}
h2
{
    margin: 0;
    padding: 0 0 20px;
    color: mediumvioletred;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}
.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
}
.loginBox input,.loginBox textarea{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="email"],
.loginBox input[type="password"],
.loginBox input[type="number"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginBox textarea[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 80px;
    color: #fff;
    font-size: 16px;
}
::-moz-placeholder{
    color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 24px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
}
.loginBox input[type="file"]
{

    height: 20px;
    color: #fff;
    font-size: 11px;
    background: black;

    border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
    background: #efed40;
    color: #262626;
}
.loginBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.cover
{
    position: absolute;
    top: 450px;
    left: 50%;
}
#upload_b
{
    width: 10px;
    font-size: 12px;
}
#dbase
{
    width: 1200px;
    height: auto;
}